.banner{
    background-color: aqua;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}
#small-gritty{
    height: 100px;
    width: auto;
}
#gritter-text{
    color: aqua;
    font-size: 100px;

}
.bold{
    font-weight: 900;
}